@font-face {
  font-family: "iconfont"; /* Project id 3152755 */
  src: url('//at.alicdn.com/t/font_3152755_b7aga5k2fh.woff2?t=1642831932449') format('woff2'),
       url('//at.alicdn.com/t/font_3152755_b7aga5k2fh.woff?t=1642831932449') format('woff'),
       url('//at.alicdn.com/t/font_3152755_b7aga5k2fh.ttf?t=1642831932449') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yiguoqi:before {
  content: "\e67d";
}

.icon-fanhui:before {
  content: "\e624";
}

.icon-zhengpinbaozhang:before {
  content: "\e600";
}

.icon-tianmaobaoyouqia:before {
  content: "\e601";
}

.icon-zhengpinbz:before {
  content: "\e667";
}

.icon-lingquanzhongxin:before {
  content: "\e8e7";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-kefu:before {
  content: "\e6dc";
}

